.nav {
	grid-area: n;
	width: 250px;
	border-radius: 10px;
	background: linear-gradient(180deg, #5476FA 0%, #C700FF 100%);
	padding: 20px;
}

.item {
}

.item a {
	font-family: "Roboto", Helvetica, sans-serif;
	display: block;
	width: 100%;
	line-height: 60px;
	color: #fff;
	opacity: 0.6;
	text-decoration: none;
	padding-left: 40px;
	box-sizing: border-box;

}


.item a.activeLink {
	color: #FFFFFF;
	opacity: 0.9;
	

}
.buttonNav {
	transition: 0.5s;
	transition-property: background;
	padding: 0px 0px 0px 0px;
}

.buttonNav:hover {
	background-color: #19B3D3;
}
.friends {
	font-size: 40px;
	color: white;
}
